@media screen and (min-width:767px) and (max-width:1025px) {
    h1{
        font-size: 2rem;

    }
    .right-banner img{
        max-width: 400px;
        /* margin-left: auto;
        margin-right: auto; */
    }

    /*  */
    .overlay{
        position: absolute;
        /* width: 100%; */
        height: 100%;
        background-color: #000;
        opacity: 0.3;
        top: 0;
        left: 0;
    }
    .nav-links  {
        position: absolute;
        right: 0;
        background: #ffff;
        width: 300px;
        text-align: start;
        width: 0px;
        display: none;
        transition: .6s easy;
    }
    .nav-link{
        padding: 10px 20px !important;
        line-height: 57px;
        display: flex;
    }
    .openside-bar{
        right: 0px;
        display: block;
        width: 300px;
        opacity: 1;
        transition: .3s easy;
        overflow-x: hidden;
    }
    .close-btn{
        display: flex;
        justify-content: end;
    }
    .btn{
        padding: 20px;
        font-size: 25px;
        color:gray;
        border: none;
        background: none;
    }
    .navbar-togler{
        display: flex;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        margin: 20px;
        border: none;
        background: none;
        font-size: 20px;
    }

    /* welcome section */
    .welcome-card {
        /* flex-direction: column; */
        row-gap: 20px;
        margin: 20px 0px;
        align-items: center;
    }
    .welcome-image {
        max-width: 720px;
    }
    .welcome-text {
        max-width: 720px;
        text-align: start;
        margin: auto auto auto 15px;    }
    .common-card{
        flex-direction: column-reverse;
    }
    .welcome-image {
        /* padding: 0px; */
    }
    .welcm-description {
        width: auto;
    }

    /* about section */
    

    /*  */
    .trainer-description {
        width: auto;
    }
    .common-cards {
        width: auto;
    }

    /* pricing section */
    .pricing-card {
        padding: 1.37rem;
    }
    .pricing-cards {
        flex-wrap: wrap;
        justify-content: center;
    }

    /* image section */
    .image-card{
        width: 33.33%;
    }
    .about-container{
        max-width: 960px;
    }

    /* dogger section */
    .dogger-cards {
        width: auto !important;
    }
    .dogger-card {
        max-width:480px ;
    }

}